{% extends "base.html" %}

{% block style %}
    {# Make all activities forms invisible by default #}
    {% for activity in activities %}
        .{{ activity }}{{ hidden_marker }} {
            display: none;
        }
    {% endfor %}
{% endblock %}
{% block body %}
    <h1>Activity Form</h1>

    <form method="post">
        <fieldset>
            <legend>Add activity</legend>

            {# Dropdown menu #}
            <label for="activitySelect">Select activity:</label><br>
            <select id="activitySelect" name="name">
                <option disabled selected value="empty"> -- select activity -- </option>
                {% for activity in activities %}
                    <option value="{{ activity }}">{{ activity }}</option>
                {% endfor %}
            </select><br>
            <br>

            {# Create form for each activity. It's invisible by default. #}
            {% for activity in activities %}
                {# Each activity has own form #}
                <div class="{{ activity }}{{ hidden_marker }}" id="{{ activity }}{{ hidden_marker }}">
                    {# Form consist of different fields #}
                    {% for field in activities[activity] %}
                        {{ field.html_label_element | safe }}<br>
                        {{ field.html_input_element | safe }}<br>
                    {% endfor %}
                </div>
            {% endfor %}

            <br>
            <input type="submit" value="Submit">
      </fieldset>
    </form>

    <script>
        {# Dropdown activity list #}
        const activitySelect = document.getElementById("activitySelect");

        {# Populate all activities #}
        const activities = [];
        {% for activity in activities %}
            activities.push("{{ activity }}")
        {% endfor %}
        console.log("All activities: " + activities);

        const is_required_class_name = "{{ is_required_class_name }}";

        {# Make form for selected activity visible #}
        activitySelect.addEventListener('change', (event) => {
            console.log("Selected activity: " + activitySelect.value);

            const MARKER = "{{ hidden_marker }}";
            for (const activity of activities) {
                const hiddenClass = activity + MARKER;
                const activityFormId = activity + MARKER;

                if (activity == activitySelect.value) {
                    const activeActivity = document.getElementById(activityFormId);
                    {# Turn visibility on #}
                    activeActivity.classList.remove(hiddenClass);
                    for (const element of activeActivity.querySelectorAll("input")) {
                        {# Make all required arguments required #}
                        if (is_required_class_name in element.classList) {element.required = true};
                        {# Enable all its input elements to prevent 'require' policy #}
                        element.disabled = false;
                    };
                } else {
                    const inactiveActivity = document.getElementById(activityFormId);
                    {# Turn visibility off #}
                    inactiveActivity.classList.add(hiddenClass);
                    {# Disable all its input elements to prevent 'require' policy #}
                    for (const element of inactiveActivity.querySelectorAll("input")) {
                        element.disabled = true;
                    };
                }
            }
        });
    </script>
{% endblock %}
